:root {
  --home_radius: 5px;
}

.overTable{
        padding: 10em;

}


table{
    /*border-radius: 5px;*/

}

tr:hover{
    background-color: lightblue;
        cursor: pointer;

}

tr{

}



th{

    padding:1px;
    /*border:solid 1px;*/
    background-color: cornflowerblue;
}

.record_number{
    text-align:center;
    padding:1px;
}

p{
    margin: 0px;
    line-height:0px;
}

td
{
    padding: 0,5em ;

}


.miniature{
    width: 10em;
    padding:0px;
    border-radius: var(--home_radius);
    vertical-align: middle;

}


.image_cell {
    padding:0px;
}