:root {
  --video_size: 100%;

}


.parent {
    position: relative;
    width: 100%;
    height: 1080px;
    margin: 10px;
}

.player {
    position: absolute;

    top: 0;
    left: 0;
    opacity: 0.9;
    background: red;
}


iframe{
    width: var(--video_size);

    height: var(--video_size);
}

.pannel {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;

    width: var(--video_size);
    height: var(--video_size);
    margin: 0px 0px 0px 0px;
    background: white;
    opacity: 0.2;

}




.row {
    display: flex;
}

#main_column {
    width: 1920px;
    height: 1120px;
    margin:1em;
}

.side_column{
    width: 300px;

    flex-flow: column;
    display: flex;

}
#drop{
    position: relative;
    text-align: center;
    flex-grow : 1;
    font-size: 16;

    padding: 1em 0.5em 1em 0.5em;
    border:solid;
    margin:1px;
    border:solid 1px;
    border-radius: 5px;
}

.record{
    padding: 1em 0.5em 1em 0.5em;
    border:solid;
    margin:1px;
    border:solid 1px;

    border-radius: 5px;
}


.slidecontainer {
  width: 100%; /* Width of the outside container */

}

/* The slider itself */
.slider {
        margin: 10px;

  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}


